@media screen and (orientation:portrait) and (max-width: 767px) {
  
    #bloc_page {
        width: auto;
        margin: auto;
    }

    main {
        margin: 0rem;
    }

    header {
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #logo {
        margin-left: 8px;
    }

    header nav{
        width:100%;
        margin-bottom: 0.5rem;
    }

    
    header nav ul {
        padding: 0px;
        justify-content: center;
    }
    
    header nav ul li {
        width: 100%;
        display: block;
        padding: 0px;
    }
    
    header nav ul li a {
        display: block;
        border-bottom: solid 2px #f2f2f2;
        padding: 0px 15px 15px 15px;
    }

    nav li a:hover {
        color: #0065fc;
        border-top: transparent;
        border-bottom: solid 2px;
    }

    #search {
        padding-left: 1rem;
    }

    #search h1 {
        margin-right: 2rem;
    }

    #search_bar {
        width: 282px;
    }

    #search_input {
        width : 202px
    }
    
    #search_btn {
        width: 40px;
        border-radius: 10px;
    }

    .search_info {
        align-items: center;
        margin: 0rem 1rem 1rem 0rem
    }

    .search_info p {
        margin : 1rem;
    }

    #bloc_filters{
        margin-right: 1rem;
        justify-content: column;
        flex-wrap: wrap;
    }

    .btn_loupe {
        display: inline;
        color: white;
    }

    .btn_txt {
        display: none;
    }

    .filters_btn {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 2.3rem;
    }

    .filter_btn {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    #accomodation_container {
        flex-direction: column-reverse;
        padding: 0px;
    }

    #accomodation_at {
        width: 100%;
        border-radius: 0px;
        background-color: transparent;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .accomodation_cards_container a {
        min-height: 7rem;
        min-width: 20rem;
        max-width: 30rem;
        box-sizing: border-box;
    }

    #more_popular {
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
        padding: 1.5rem 1rem 3.5rem 1rem
    }

    #more_popular .more_popular_cards_container {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    #more_popular .more_popular_cards_container a {
        min-height: 7rem;
        min-width: 20rem;
        max-width: 30rem;
        box-sizing: border-box;
    }
    
    #more_popular .more_popular_cards_container a img {
        width: 7rem;
        height: 7rem;
    }

    #more_popular .more_popular_cards_container a .popular_cards_infos {
        margin-right: 0rem;
        width: 60%
        
    }

    #more_popular .more_popular_cards_container a .popular_cards_infos h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #more_popular .more_popular_cards_container a .popular_cards_infos div p {
        font-size: 0.85rem;
    }

    .bloc_title{
        justify-content: space-between;
    }

    .accomodation_cards_container{
        flex-direction: column;
        justify-content: flex-start;
    }

    .accomodation_card {
        width: 100%;
        box-sizing: border-box;
    }

    .accomodation_card img {
        width: 100%;
    }

    #activity_cards_container {
        flex-direction: column;
    }

    .activity_cards_bloc{
        width: 100%;
        margin-bottom: 0.1rem;
    }

    .activity_card_xl {
        width: 100%;
    }

    .activity_card_xl img {
        width: 100%;
    }

    .activity_card_l {
        width: 100%;
        height: 15rem;
    }

    .activity_card_ma {
        width: 100%;
        height: 15rem;
    }

    .activity_card_mb {
        width: 100%;
        height: 15rem;
    }

    .activity_card_s {
        width: 100%;
        height: 15rem;
    }

    #activity{
        margin: 1rem;
    }

    #activity_cards_container {
        width: 100%;
    }

    #activity #activity_cards_container .activity_cards_bloc .card_mobile {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 12rem;
        box-shadow: 2px 2px 2px rgb(192, 191, 191);
        margin: 0.5rem 0rem;
        background-color: white;
        border-radius: 10px;
        justify-content: space-between;
    }
    
    #activity #activity_cards_container .activity_cards_bloc .card_mobile img {
        height: 75%;
        min-height: 0;
        max-height: 10rem;
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        object-position: center;
    }

    #activity #activity_cards_container .activity_cards_bloc .activity_card_ma img {
        object-position: top;
    }

    footer {
        height: auto;
        flex-direction: column;
    }

    .infos_footer {
        width: auto;
        margin-left: 1rem;
    }
          
}

@media screen and (min-width: 768px) and (max-width: 992px){
    #bloc_page {
        width: auto;
    }

    #accomodation_container {
        width: 95%;
        flex-direction: column-reverse;
    }

    #accomodation_at {
        width: 100%;
        margin: 1rem 0rem;
    }

    #more_popular {
        width: 100%;
        margin: 1rem 0rem;
    }

    .more_popular_cards_container {
        width: 100%;
        flex-direction: row;
    }

    .popular_card {
        max-width: 20rem;
        min-width: 20rem;
    }

    .popular_card img {
        height: 7rem;
    }
}