/* STYLE PRINCIPAUX */
body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

#bloc_page {
  max-width: 1280px;
  margin: auto;
}

main {
  margin: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

p {
  font-size: 0.8rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  color: black;
}

.blue-star {
  color: #0065fc;
  font-size: 0.6rem;
}

.gray-star {
  color: #e3e3e3;
  font-size: 0.6rem;
}

.price{
  font-weight: bold;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

#logo {
  width: 96px;
  height: 45px;
}

/* HEADER - Navigation */
nav ul {
  display: flex;
}

nav li {
  padding: 15px;
  list-style: none;
  text-align: center;
}
nav li a {
  padding: 15px;
  color: black;
}

nav li a:hover {
  color: #0065fc;
  border-top: solid 1px;
}

/* SEARCH */

#search {
  padding-bottom: 1rem;
}

#search h1 {
  margin:0rem;
}

#search_form {
  margin: 1.5rem 1rem 1.5rem 0;
}

#search_bar {
  width: 370px;
  display: flex;
  border: solid 1px #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

#search_icon {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_input {
  width: 187px;
  height: 40px;
  border: none;
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

#search_btn {
  width: 145px;
  height: 40px;
  border: none;
  background-color: #0065fc;
  color: white;
  font-size: 0.9em;
}

.btn_loupe {
  display: none;
}

/* SEARCH - Filters */

#bloc_filters {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}

.filters_btn {
  width: 50rem;
  display: flex;
  justify-content: space-around;
}

.filter_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #f2f2f2;
  border-radius: 25px;
  overflow: hidden;
}

.filter_btn i {
  margin-right: 0.1rem;
}

.filter_btn button {
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  background-color: white;
  font-family: "Raleway";
  font-weight: bold;
  padding-right: 0.7rem;
}

.filter_btn button:focus {
  color: white;
  background-color: #0065fc;
}

.filter_btn button:hover {
  color: white;
  background-color:#0065fc;
}

.filter_btn i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
}

.search_info {
  display: flex;
  align-items: center;
}

.search_info p {
  padding-left: 0.5rem;
}

.fa-info {
  width: 1.2rem;
  height: 1.2rem;
  color: #0065fc;
  font-size: 0.6rem;
  border-radius: 100vh;
  border: solid 2px #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ACCOMODATION */
#accomodation_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ACCOMODATION | Hébergement à Marseille */

#accomodation_at {
  width: 63%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

#accomodation_at a {
  font-weight: bold;
  font-size: 0.85rem;
}

.bloc_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accomodation_cards_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}

.accomodation_card {
  width: 30%;
  min-height: 9rem;
  margin: 0.5rem 0rem;
  border: solid 0.2rem white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 19%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*   padding: 0.2rem; */
}

.accomodation_card img {
  max-height: 7rem;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.accomodation_cards_infos {
  padding: 0.5rem;
}

.accomodation_cards_infos h3 {
  margin: 0.1rem;
  font-size: 0.8rem;
}

.accomodation_cards_infos p {
  margin: 0.1rem;
  font-size: 0.7rem;
  font-weight: 300;
}

/* ACCOMODATION | Les plus populaires */
#more_popular {
  width: 26%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more_popular_cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-height: 30rem;
}

.popular_card {
  width: 100%;
  height: 8rem;
  min-height: 6rem;
  margin: 0.6rem 0;
  border: solid 0.2rem white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(192, 191, 191);
  display: flex;
  flex-direction: row;
}

.popular_card img {
  width: 8rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0px 0 10px;
}

.popular_cards_infos {
  padding: 0.5rem 1.8rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular_cards_infos h3 {
  font-size: 0.8rem;
  margin: 0.1rem;
}

.popular_cards_infos p {
  font-size: 0.7rem;
  margin: 0.1rem;
  font-weight: 300;
}

/* ACTIVITY */

#activity_cards_container {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.activity_cards_bloc {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.activity_card_xl {
  height: 24.9rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
}

.activity_card_xl img {
  width: 100%;
  min-height: 89%;
  object-fit: cover;
  object-position: top;
}

.activity_card_xl h3 {
  padding-left: 0.5rem;
  margin: none;
}

.activity_card_l {
  height : auto;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.activity_card_l img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
}

.activity_card_l h3 {
  padding-left: 0.5rem;
}

.activity_card_ma {
  height: 10rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_card_ma img {
  width: 100%;
  min-height: 7.5rem;
  object-fit: cover;
  object-position: top;
}

.activity_card_ma h3 {
  padding-left: 0.5rem;
}

.activity_card_mb {
  height: 12rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_card_mb img {
  width: 100%;
  max-height: 9.2rem;
  object-fit: cover;

}

.activity_card_mb h3 {
  padding-left: 0.5rem;
}

.activity_card_s {
  height: auto;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.activity_card_s img {
  max-height: 6.9rem;
  object-fit: cover;
  object-position: top;
}

.activity_card_s h3 {
  padding-left: 0.5rem;
}

/* FOOTER */

footer {
  width: 100%;
  height: 11rem;
  display: flex;
  background-color: #f2f2f2;
}

.infos_footer {
  width: 29%;
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
}

.infos_footer h4 {
  font-size: 0.8rem;
  margin: 2rem 0rem 0rem 0rem;
}

.infos_footer ul {
  padding: 0px;
}
.infos_footer ul li {
  padding: 0.1rem;
}

.infos_footer ul li a {
  margin-bottom: 1.5rem;
}

.infos_footer ul li a:hover {
  font-weight: bold;
}
