/* STYLE PRINCIPAUX */
body {
  font-family: "Raleway", sans-serif;
}

#bloc_page {
  width: 992px;
  margin: auto;
}

main {
  margin: 1rem 0 0 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

p {
  font-size: 0.8rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  color: black;
}

.blue-star {
  color: #0065fc;
}

.gray-star {
  color: #e3e3e3;
}

.price{
  font-weight: bold;
}
/* HEADER */
#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top a {
  margin-left: 1rem;
}

#logo {
  width: 96px;
  height: 45px;
}

/* Navigation */
nav ul {
  display: flex;
}

nav li {
  padding: 15px;
  list-style: none;
  text-align: center;
}
nav li a {
  padding: 15px;
  color: black;
}

nav li a:hover {
  color: #0065fc;
  border-top: solid 1px;
}

/* SEARCH */

/* Bloc - Form */

#search {
  padding-bottom: 1rem;
}

#search_form {
  margin: 1rem 1rem 1rem 0;
}

#search_bar {
  width: 370px;
  display: flex;
  border: solid 1px #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

#search_icon {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_input {
  width: 187px;
  height: 40px;
  border: none;
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

#search_Btn {
  width: 143px;
  height: 40px;
  border: none;
  background-color: #0065fc;
  color: white;
  font-size: 0.9em;
}

/* SEARCH - Filters */

#bloc_filters {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}
.filters_btn {
  display: flex;
}
.filter_btn {
  display: flex;
  align-items: center;
  max-width: 12rem;
  margin-left: 1rem;
  border: solid 2px #f2f2f2;
  border-radius: 25px;
  overflow: hidden;
}

.filter_btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.filter_btn input {
  max-width: 8rem;
  font-weight: bold;
  border: none;
  padding-left: 13px;
  padding-right: 5px;
}

.search_info {
  max-width: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-info {
  width: 1.2rem;
  height: 1.2rem;
  color: #006#5fc;
  font-size: 0.6rem;
  border-radius: 100vh;
  border: solid 2px #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ACCOMODATION */
#accomodation_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ACCOMODATION | Hébergement à Marseille */

#accomodation_at {
  width: 62%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

#accomodation_at a {
  font-weight: bold;
  font-size: 0.85rem;
}

.bloc_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accomodation_cards_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}

.accomodation_card {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 9rem;
  box-shadow: 2px 2px 2px rgb(192, 191, 191);
  margin: 0.5rem 0rem;
  background-color: white;
  border-radius: 10px;
  padding: 0.2rem;
  justify-content: space-between;
}

.accomodation_card img {
  max-height: 6rem;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.accomodation_cards_infos {
  padding: 0.5rem;
}

.accomodation_cards_infos h3 {
  margin: 0.1rem;
  font-size: 0.8rem;
}

.accomodation_cards_infos p {
  margin: 0.1rem;
  font-size: 0.7rem;
  font-weight: 300;
}

/* ACCOMODATION | Les plus populaires */
#more_popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.more_popular_cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-height: 30rem;
}

.popular_card {
  display: flex;
  flex-direction: row;
  width: 93%;
  height: 26%;
  min-height: 6rem;
  box-shadow: 2px 2px 2px rgb(192, 191, 191);
  margin: 0.6rem 0;
  background-color: white;
  border-radius: 10px;
  padding: 0.2rem;
}

.popular_card img {
  max-height: 7rem;
  width: 40%;
  object-fit: cover;
  border-radius: 10px 0px 0 10px;
}

.popular_cards_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.popular_cards_infos h3 {
  font-size: 0.8rem;
  margin: 0.1rem;
}

.popular_cards_infos p {
  font-size: 0.7rem;
  margin: 0.1rem;
  font-weight: 300;
}

/* ACTIVITY */

#activity_cards_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.activity_cards_bloc {
  width: 14rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activity_card_xl {
  height: 100%;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
}

.activity_card_xl img {
  width: 100%;
  min-height: 89%;
  object-fit: cover;
}

.activity_card_xl h3 {
  padding-left: 0.5rem;
}

.activity_card_l {
  height: 14rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.activity_card_l img {
  width: 100%;
  min-height: 1rem;
  object-fit: cover;
}

.activity_card_l h3 {
  padding-left: 0.5rem;
}

.activity_card_m {
  height: 11rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_card_m img {
  width: 14rem;
  min-height: 4rem;
  object-fit: cover;
}

.activity_card_m h3 {
  padding-left: 0.5rem;
}

.activity_card_s {
  height: 9rem;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.activity_card_s img {
  width: 14rem;
  min-height: 4rem;
  object-fit: cover;
}

.activity_card_s h3 {
  padding-left: 0.5rem;
}

/* FOOTER */

footer {
  width: 100%;
  height: 10rem;
  display: flex;
  background-color: #f2f2f2;
}

.infos_footer {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
}

.infos_footer h2 {
  font-size: 0.8rem;
  margin: 2rem 0 0 0;
}

.infos_footer ul {
  padding: 0px;
}
.infos_footer ul li {
  padding: 0.1rem;
}

.infos_footer ul li a {
  margin-bottom: 1.5rem;
}

.infos_footer ul li a:hover {
  font-weight: bold;
}
