@media screen and (min-width:769px) and (max-width: 992px) {
    
    #bloc_page {
        width: auto;
    }

    #accomodation_container {
        width: 95%;
        flex-direction: column-reverse;
    }

    #accomodation_at {
        width: 100%;
        margin: 1rem 0rem;
    }

    #more_popular {
        width: 100%;
        margin: 1rem 0rem;
    }

    .more_popular_cards_container {
        width: 100%;
        flex-direction: row;
    }

    .popular_card {
        width: 31%;
        min-width: 13rem;
        height: 8rem;
    }
    
    .popular_card img {
        width: 8rem;
        /* height: 8rem; */
    }

    .popular_cards_infos {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }

    .activity_cards_bloc {
        min-width: 11rem;
    }
    
    .activity_cards_bloc .activity_card_xl h3, .activity_cards_bloc .activity_card_ma h3 {
        margin-top: 0.2rem
    }
}
